<!DOCTYPE html>
<html lang="de">
<head>
  <title>Energize</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
a{
	cursor: pointer;
}
.success{
	background-color: #e6eeff;
}
.error{
	background-color: #ffe6e6;
}
.errorVis{
	color: #ff8080;
	display: block;	
}
.errorHid{
	display: none;
}

  </style>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
</head>
<body>
<div class="container" ng-app="">
	  	<h2>Energize</h2>
	  	<table class="table table-hover">
	    	<thead>
	    	  <tr>
	    	    	<th>№ ▼</th>
	    	        <th>Lebensmittel▼ </th>
	    	        <th>Gewicht (Gramm)▼ </th>
	    	        <th>Eiweiße (Gramm)▼ </th>
	    	        <th>Fette (Gramm)▼ </th>
	    	        <th>Kohlenhydrate (Gramm)▼ </th>
	    	        <th>Kilokalorien (kcal)▼ </th>
	    	  </tr>
	    	</thead>
		<form method="post" name="prodForm" id="form">
	    	<tbody>
	    	  		<tr id="tCop">
	    	            <th id="number1">1.</th>
	    	            <th><input type='text' id="product1"></th>
	    	            <th><input type="number" id="weight1" ng-model="weight1"/></th>
	    	            <th id="protein1"></th>
	    	            <th id="fat1"></th>
	    	            <th id="carbonates1"></th>
	    	            <th id="kcal1"></th>
	    	            <input type="hidden" ng-model="protein1" id="hiddenP1">
	    	            <input type="hidden" ng-model="fat1" id="hiddenF1">
	    	            <input type="hidden" ng-model="carbo1" id="hiddenC1">
	    	            <input type="hidden" ng-model="kcal1" id="hiddenK1">
	    	        </tr>
	    	</tbody>
	    	<tfoot>
	    	  
	    	    <tr>
	    	        <th></th>
	    	        <th></th>
	    	        <th id="weiGen"></th>
	    	        <th id="protGen"></th>
	    	        <th id="fatGen"></th>
	    	        <th id="carboGen"></th>
	    	        <th id="kcalGen"></th>
	    	    </tr>
	    	</tfoot>
	  	</table>
		<button type="button" class="btn btn-primary" id="button">Hinzufügen</button>
		<br>
		<p id="errorText" class="errorHid">*Fühllen Sie die passende Felder aus.</p>
	</form>
  <br/><br/>
  <p>Das ist eine <b>Beispiel</b>applikation, mit der man die Kilokalorien und einige andere Werte für ein bestimmtes Gewicht von einem Lebensmittel berechnen kann. In der Datenbank sind aktuell nur 17 Lebensmittel (1.Hühnchen 2.Pute 3.Gans 4.Ente 5.Eier 6.Omelett 7.Lamm 8.Rind 9.Schwein 10.Schinken 11.Würstchen 12.Kartoffeln 13.Paprika 14.Granatapfel 15.Ananas 16.Orange 17.Äpfel). Die Applikation generiert die Werte für andere Lebensmittel zufällig. Die Logik hinter dem Zufallsgenerator ist: Eiweiße, Fette und Kohlenhydrate sollen nicht mehr als die Hälfte des Gewichtes und die Kilokalorien sollen nicht mehr als 1/10 des Gewichtes sein.)</p>
  
  <br>
  <span><h4>Gigt es nicht? Sie Konnen neue Datei<a id="addNeu"> hinzufügen.</a></h4></span>
  <div id="modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Neue Datei<a id="modalAdd" data-dismiss="modal"> hinzufügen.</a></h4>
        </div>
        <div class="modal-body">
          <tr>
  		<th><input type="text" id="newProdName" placeholder="Name vom Lebensmittel"></th>
  		<th><input type="text" id="newEiweis" placeholder="Eiweis pro 100 gr."></th>
  		<th><input type="text" id="newFat" placeholder="Fette pro 100 gr."></th>
  		<th><input type="text" id="newCarbo" placeholder="Kohlenhydraten pro 100 gr."></th>
  		<th><input type="text" id="newKcal" placeholder="Kcal pro 100 gr."></th>
  	</tr>
  <button type="button" class="btn btn-link" id="newDateSave">Neues Lebensmittel hinzufügen</button> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  	
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/logic.js"></script>
  <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>-->
</body>
</html>
